.gem-c-print-link__button {
    border: 1px solid #b1b4b6;
    cursor: pointer;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.gem-c-print-link__link:hover, .gem-c-print-link__button:hover {
    background-color: #f3f2f1;
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(/agent-registration/assets/images/icon-print-2x.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}
